<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>

	<div class="container">
		<form style="max-width:350px; padding:15px;" th:action="@{/presenter}" method="post">
			<div style="color:red" th:if="${status == 'failed'}">
				<span th:text="${message}"></span>
			</div>
			<div style="padding:15px;">
				<h2>Presenter check in</h2>
				<input type="text" id="accessCode" name="accessCode" class="form-control" placeholder="Access Code" autofocus/>
				<input type="password" id="secretCode" name="secretCode" class="form-control" placeholder="Secret Code"/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Start</button>
			</div>
		</form>
	</div>

</body>
</html>